[2013-02-28 21:58] kyzh opened #27 "License.md missing"
Apart of the contribution.md, there is no mention of any license.
Is it implied that the theforeman.org is also part of the project and should be treated as GPL too ?
Would it be possible to have a license.md with the relevant license in it ?

[2013-03-01 14:38] domcleal commented on #27
@kyzh thanks for spotting this!  I've suggested in GH-28 that we use a CC licence for the task, it's better suited to content and have started a thread on foreman-dev in case there's discussion.

[2013-03-01 17:44] #27 closed, assigned to nobody

[2013-07-27 19:15] blkperl opened #73 "Missing SSL certs/keys for facts on multiple puppetmasters with no ENC"
[code]

Refers to this script https://github.com/theforeman/puppet-foreman/blob/283619064fbde0275235535b19c53da249357035/files/push_facts.rb which was deleted.

The script needs to be updated to include the CA file and certs or the docs need to be updated to explain how to do it without the script.

[code]

And at the http part

[code]

Thanks,
William

[2013-07-29 07:51] domcleal commented on #73
Yeah, the docs shouldn't be referring to that script any more.  We merged its functionality into the ENC node.rb script via the `--push-facts` argument so they shared a common code base, but clearly forgot to update the docs.

[2013-09-27 06:58] hhenkel opened #90 "Documentation has wrong order for installation from source"
When trying to install from source as described in http://theforeman.org/manuals/1.2/index.html#3.4InstallFromSource the bundle install fails with:

[code]

It seems to be necessary to copy the configuration files before doing the install.

Also the example makes no sense since it states the bundle install should be run like this:

[code]

but the stated config/database.yml.example uses a sqlite d

[2013-09-30 17:35] #90 closed, assigned to nobody

[2013-10-24 20:36] stbenjam opened #109 "Manual Page: bs-docs-sidebar doesn't scroll with page"
The bs-docs-sidebar doesn't scroll with the page.  I suppose that's intentional, but on my Macbook Air this results in the scrollbar going off the screen and being unable to navigate to longer sections of the document:

![image](https://f.cloud.github.com/assets/429763/1402894/65c8c36a-3ceb-11e3-893c-8391ae79e4db.png)

Ostensibly, the "affix" attribute is supposed to fix this, but this didn't work

[2013-10-24 20:37] domcleal commented on #109
@abenari could you look into this please?

[2013-10-28 08:37] domcleal commented on #109
Should now be fixed, thanks for reporting it @stbenjam.

[2013-10-28 08:37] #109 closed, assigned to nobody

[2013-11-13 14:50] domcleal commented on #73
Closing this issue as we've since updated the docs to refer to node.rb for pushing facts, which supports SSL.

[2013-11-13 14:50] #73 closed, assigned to nobody

[2013-12-23 13:15] isratrade opened #134 "README linebreaks"
The section "Updating API Auto-Generated Docs by apipie" does not show link breaks.  I thought markdown automatically does this.

[2014-01-09 23:11] domcleal opened #141 "Foreman 1.4 manual"
Tasks:
- [x] mod_auth_kerb #3312
- [x] Chef #3699 (partially, will be expanded into a full section)
- [x] proxy SSH puppetrun #3047
- [x] proxy Salt puppetrun #3732
- [x] proxy custom command #3936
- [x] update Rails console docs to use foreman-rake console #3347
- [x] db:seed #3752
- [x] libvirt/dnsmasq providers #3943
- [x] REMOTE_USER attrs(?) #3528
- [x] mysql/mysql2
- [x] Fedora 18 gone
- [x]

[2014-01-09 23:14] #134 closed, assigned to nobody

[2014-01-11 16:12] domcleal opened #143 "Link colour is unreadable"
@abenari could we change the link colour to something like #34799d?  I'm struggling to notice links in the manual since the redesign and am worried readers will miss them.

[2014-01-12 11:38] abenari commented on #143
fixed in PR #140 commit b84d8ae

[2014-01-13 15:54] #143 closed, assigned to nobody

[2014-02-04 18:20] stbenjam opened #163 "1.4 Manual references to Foreman 1.3.x"
The documentation for the API refers to Foreman 1.3.

[2014-02-04 18:23] stbenjam commented on #163
Oh, that's confusing.  Pull requests and issues are numbered in the same sequence? I've been working out of redmine for too long.

[2014-02-04 18:23] #163 closed, assigned to nobody

[2014-02-14 10:30] domcleal opened #176 "Foreman 1.5 manual"
Being worked on in _includes/manuals/1.5/.

Tasks:
- [x] #4197 moved ~foreman/config/settings.plugins.d/ to /etc/foreman/plugins/ which will break some RPM upgrades (dir changing to symlink), so users should backup and restore plugin configs before/after upgrades
- [x] oVirt image support (set "Image ID" to the UUID of the image, finish template etc)
- [x] Installer plugin and compute resource sup

[2014-02-21 15:14] mobcdi opened #179 "Foreman manual 1.4 GCE notes"
To avoid people making the same silly mistake enabling GCE as a compute resource can I suggest the documentation for 5.2.4 Google Compute Engine Notes be updated from
"Requires client e-mail address and p12 certificate file to access"
to
Requires client e-mail address of an authorised google cloud console client ID is entered in the new compute resource screen and the .p12 certificate file is stor

[2014-02-21 17:18] GregSutcliffe commented on #179
Feel free to send a PR - for this repo, I think GitHub will even let you edit the file in the web browser, and do the PR for you automatically :)

[2014-02-24 10:44] mobcdi commented on #179
Pull  #180 added

[2014-02-24 10:44] #179 closed, assigned to nobody

[2014-05-20 11:26] domcleal opened #219 "Foreman 1.6 manual"
Work in progress:
- [x] Sprint 23 release notes
- [x] EL7 support
- [x] Proxy configuration changes
- [ ] Proxy plugins section
- [x] Update report/ENC configuration (now YAML)
- [x] Sprint 26/27 release notes
- [x] Headline features
- [x] Settings
- [x] Installer options
- [x] 4.1.1 LDAP + external user groups
- [x] Contributors list
- [x] Translator contributors
- [x] foreman-prepare-realm to se

[2014-06-03 17:25] eternaltyro opened #222 "Error installing on Ubuntu Trusty using apt-get"
I had to do _dpkg --purge ruby-kafo-parsers ruby-kafo_ to be able to use apt again. Dependency hell?

[2014-06-03 17:30] eternaltyro commented on #222
Okay, I messed it up. I added wheezy instead of trusty. Stupid copy paste error. Sorry.

[2014-06-03 17:30] #222 closed, assigned to nobody

[2014-06-04 02:47] eternaltyro opened #223 "foreman-installer smartproxy error (undefined method 'find')"
I get the following error on Ubuntu Trusty

There are no other errors and the web dashboard seems to work fine. Clues?

[2014-06-04 07:15] ares commented on #223
Please report issue on our issue tracker at http://projects.theforeman.org under right project (Smart-Proxy) and upload complete log from the run. You can use github account for logging in. I'm closing this issue, thanks for the report.

[2014-06-04 07:15] #223 closed, assigned to nobody

[2014-08-03 09:24] danielkza opened #240 "Signing key for Debian packages not available as a secure download"
The manual (as of version 1.5.2) instructs you to start the installation on a Debian system by runnning the following commands:

[code]

Notice how the signing key is downloaded through plain HTTP. Simply replacing http with https in the URL doesn't work: strangely I don't even get a server error, just no response at all. The key has to be available from a secure source to even be useful at all, o

[2014-09-27 22:02] edestecd commented on #219
There is a bad link in:
theforeman.org / _includes / manuals / 1.6 / 3.5.5_facts_and_the_enc.md

Download the ENC script to to:
https://raw.github.com/theforeman/puppet-foreman/master/templates/external_node_v2.rb.erb
This is a not found :(

I would like the most up to date node.rb, can I get an updated link that works please?

[2014-09-27 22:06] stbenjam commented on #219
@edestecd https://github.com/theforeman/puppet-foreman/blob/master/files/external_node_v2.rb

[2014-09-27 22:08] edestecd commented on #219
@stbenjam Awesome thank you

[2014-10-13 11:07] domcleal opened #275 "Foreman 1.7 manual"
Work in progress:
- [x] libvirt ~foreman/.ssh instructions should note .ssh dir already exists, #276
- [x] EL7 rebuild support
- [x] Headline features
- [x] Settings
- [x] Installer options
- [x] Contributors list
- [x] Translator contributors
- [ ] CLI release notes
- [x] Installer module release notes
- [x] Ubuntu 12.04 requirement for PL repo
- [x] Ubuntu 12.04 upgrade (Brightbox)
- [x] Remove

[2014-10-17 18:23] stbenjam commented on #275
- [x] Needs note about dupe user renaming https://github.com/theforeman/foreman/pull/1250

[2014-11-11 23:44] QueerCodingGirl opened #287 "Add ipv6 support / AAAA DNS record for "deb.theforeman.org""

[2014-11-12 08:48] lzap commented on #287
Thanks, CCing @ohadlevy just in case he is not subscribed. Better luck would be our dev mailing list.

[2014-11-13 18:46] dLobatog opened #289 "Smart-proxy templates feature not documented"
http://theforeman.org/manuals/1.7/index.html#4.3SmartProxies should include a subsection about templates handling with an example configuration file and so forth. @dustints would you mind to do it since you wrote the feature?

[2014-11-19 06:37] dLobatog opened #291 "Compute resources key pair workflow"
The way some compute resources (Openstack, EC2...) create a key pair is currently very obscure for the user. The process should be documented, especially since it stores the secret key on the database and it's not retrievable in any way by any user other than people with access to the Foreman database.

[2014-11-19 07:22] stbenjam commented on #291
:+1:

I need to fix up https://github.com/theforeman/community-templates/pull/93 as a generic user data for everything, but that takes an SSH key param and deploys it with cloud init.  If we make similar changes to the finish script it would make it more useable...

[2014-12-17 19:39] tek0011 opened #299 "Foreman passes incorrect case sensitivity on "Run Puppet" to mco"
When using the "Run Puppet" button on hosts in Foreman, under the mco provider, it will send the command to mco with a lower case fqdn and will then fail to find it:

mco ping:
Ultralisk                                time=104.35 ms

Command as it comes in from foreman:
`[root@puppet etc]# /usr/bin/mco puppet runonce -I ultralisk
No request sent, we did not discover any nodes.`

but if you manuall

[2014-12-18 08:28] domcleal commented on #299
This repository is about the website, if you want to file a bug against Foreman or the smart proxy, http://projects.theforeman.org/projects/smart-proxy/issues/new would be the correct place.

[2014-12-18 08:28] #299 closed, assigned to nobody

[2015-01-13 10:46] stbenjam opened #307 "Foreman 1.8 manual"
- [x] Setting name changes in #8484: `restrict_registered_puppetmasters` and `require_ssl_puppetmasters` are now `restrict_registered_smart_proxies`, and `require_ssl_smart_proxies`, respectively
- [x] Headline features #355
- [x] Main release notes
- [x] Settings
- [x] Installer options
- [x] Contributors list
- [x] Translator contributors
- [x] Installer module release notes
- [x] Smart proxy co

[2015-01-27 21:51] mmoll commented on #141
I guess this can get closed? :)

[2015-01-27 21:51] mmoll commented on #176
I guess this can get closed? :)

[2015-01-27 21:51] mmoll commented on #219
I guess this can get closed? :)

[2015-01-28 08:25] domcleal commented on #141
@mmoll I've left them open when there are still incomplete items.. maybe we could migrate the incomplete items to new issues and it may be easier for people to contribute then?

[2015-01-28 08:33] stbenjam commented on #289
This should get updated and then opened against 1.8:
  https://github.com/theforeman/theforeman.org/pull/313

Without the separate http/https settings, I don't even think it's worth adding to the 1.7 manual.

[2015-01-28 08:39] domcleal commented on #289
Yeah, I agree with the reason.  I think the 1.7 patch is woefully incomplete, it hadn't been completed.  Things look in better shape for 1.8.

[2015-01-28 10:10] mmoll commented on #141
:+1: for single issues

[2015-01-28 11:34] domcleal opened #314 "Update Hammer success story examples"
The Hammer "success story" in section 4.5.2 needs updating as some of the arguments have been improved, e.g. using names instead of IDs.

I'd also like to see improved formatting and explanations of the commands.

[2015-01-28 11:35] domcleal opened #315 "SLES provisioning"
Perhaps part of section 4.4 (provisioning), but some detail around SLES provisioning (#3733) would be good.

[2015-01-28 11:35] domcleal opened #316 "FreeBSD provisioning"
Perhaps part of section 4.4 (provisioning), but some detail around FreeBSD provisioning and its requirements (#2572) would be good.

[2015-01-28 11:36] domcleal opened #317 "API v2 error responses"
The API v2 section (5.1) should document the format of error responses that the API will generate (the JSON objects with messages etc).

[2015-01-28 11:37] domcleal commented on #141
#315, #316, #317

[2015-01-28 11:37] #141 closed, assigned to nobody

[2015-01-28 11:38] domcleal opened #318 "Inherited orgs/locations"
A description of how inherited organisations/locations work should be added - in fact, we're missing multi-org entirely from the manual.  In particular how the views and permitted assignments work.

[2015-01-28 11:38] domcleal commented on #176
#318

[2015-01-28 11:38] #176 closed, assigned to nobody

[2015-01-28 11:40] domcleal opened #319 "Smart proxy plugins"
The smart proxy section (4.3) and probably the plugins section (6) should have information about smart proxy plugins, how they add extra config files, how to enable them etc and how they're packaged.

[2015-01-28 11:40] domcleal commented on #219
#319

[2015-01-28 11:40] #219 closed, assigned to nobody

[2015-01-28 11:41] domcleal opened #320 "Move smart_proxy_chef documentation"
Section 4.3.4 documented the built-in Chef support in Smart Proxy 1.6 and earlier, but it was moved to smart_proxy_chef in 1.7.

This section should be moved to plugin-specific documentation (like Discovery).

[2015-01-28 11:42] domcleal opened #321 "API documentation needs refreshing"
The API docs are currently out of date, they're built on 1.6 or thereabouts I think.

[2015-01-28 11:42] domcleal commented on #275
#320, #321, #289

[2015-01-28 11:42] #275 closed, assigned to nobody

[2015-03-24 14:35] domcleal commented on #320
Done in #345.

[2015-03-24 14:35] #320 closed, assigned to nobody

[2015-04-13 08:17] domcleal opened #366 "Foreman 1.9 manual"
Usual stuff:
- [x] Headline features
- [x] Itemised release notes (@domcleal)
  - http://projects.theforeman.org/projects/foreman/issues?utf8=%E2%9C%93&set_filter=1&f%5B%5D=status_id&op%5Bstatus_id%5D=c&f%5B%5D=release_id&op%5Brelease_id%5D=%3D&v%5Brelease_id%5D%5B%5D=35&f%5B%5D=&c%5B%5D=project&c%5B%5D=tracker&c%5B%5D=subject&c%5B%5D=category&c%5B%5D=closed_on&group_by=
- [x] Foreman setting chan

[2015-04-27 14:54] domcleal opened #368 "CoreOS provisioning"
Foreman 1.8 supports provisioning of CoreOS, which should be added to the website and manual.

http://projects.theforeman.org/issues/7652
https://github.com/theforeman/community-templates/tree/master/coreos

[2015-04-27 14:55] domcleal opened #369 "VMware user-data/customization template support"
Foreman 1.8 supports using user-data templates in cloud-init style, which are interpreted by Fog into customization templates for VMware.  This should be documented in 5.2.

http://projects.theforeman.org/issues/8601

Unfortunately it appears it may not work: https://groups.google.com/forum/#!topic/foreman-dev/Lsfw9CunyzA

[2015-04-27 14:56] domcleal commented on #307
Closing, 80/20 rule.  The outstanding topics have new tickets or PRs open.

[2015-04-27 14:56] #307 closed, assigned to nobody

[2015-05-12 10:05] domcleal opened #381 "Release note videos modals aren't showing up"
Visit http://theforeman.org/manuals/1.8/index.html#Releasenotesfor1.8 and click one of the YouTube video icons on the right hand side.  This should open up a modal with the video embedded, but instead the page greys out and no video is displayed.

[2015-05-13 11:17] lfisher47 opened #382 "Invalid url for plugins"
_includes/manuals/1.8/1.2_release_notes.md line 69 has references to plugins, Chef, Salt, and the index.  These links do not seem to be working.

[2015-05-14 16:06] tmclaugh opened #384 "Foreman 1.8.0 release info on site eats up too much page space."
Browsing the Foreman API is tough after the site redesign.  The 1.8.0 announcement takes up too much screen space.

Browser: Chrome 42.0.2311.90

URL: http://www.theforeman.org/api_v2.html

Screenshots:
- https://flic.kr/p/sAs6s9
- https://flic.kr/p/rW1VzA

[2015-05-21 13:17] domcleal commented on #384
[code]

[2015-05-28 09:49] domcleal commented on #382
Thanks, fixed in 24b28df9.

[2015-05-28 09:49] #382 closed, assigned to nobody

[2015-06-15 11:18] domcleal commented on #369
Fixed in https://github.com/theforeman/theforeman.org/commit/96a332aec9aec0247a8cd0c043d6755e2fb7f083.

[2015-06-15 11:18] #369 closed, assigned to nobody

[2015-06-16 21:51] dLobatog commented on #366
https://github.com/theforeman/theforeman.org/pull/393

[2015-06-20 02:01] dLobatog commented on #368
I guess this doesn't cover it , https://github.com/theforeman/theforeman.org/commit/f76e5b476042f1804b68df357730a73759a05641 do you want a special section for it in the manual?

[2015-06-23 09:04] domcleal commented on #368
Yeah, I think we should have a section on it and other OSes, to be honest.  Mostly to tell people which templates are relevant, the relevant mirror/installation media etc.

[2015-07-01 13:34] domcleal opened #395 "Foreman 1.10 manual"
Usual stuff:
- [x] Headline features (#445)
- [x] Headline feature screencasts
- [x] Itemised release notes (up to 8th Oct)
- [ ] Foreman setting changes (#509)
- [x] Smart proxy setting changes (#459)
- [x] Installer options refresh (#508)
- [x] Contributors list
- [x] Translator contributors
- [x] Installer module release notes
- [x] API documentation per README (http://projects.theforeman.org/i

[2015-08-05 07:46] domcleal commented on #321
Fixed in #406.

[2015-08-05 07:46] #321 closed, assigned to nobody

[2015-08-05 08:01] domcleal commented on #384
This has been fixed by #406.

[2015-08-05 08:01] #384 closed, assigned to nobody

[2015-08-13 10:41] domcleal commented on #366
All completed.

[2015-08-13 10:41] #366 closed, assigned to nobody

[2015-08-19 13:49] domcleal opened #412 "Display latest versions"
The website used to have the latest version displayed clearly on the home page, but this was lost during #274.

The partial is still there at _includes/social.html and I'm regularly updating it, it just needs fitting into the new design somewhere.  Perhaps under the two buttons on the homepage?

[2015-09-01 10:09] domcleal opened #423 "Add "edit this" links to the manual"
The manuals should have edit icons next to each section to invite readers to submit fixes back to this repository via a PR.

[2015-09-03 10:47] #412 closed, assigned to nobody

[2015-09-07 09:01] #315 closed, assigned to mmoll

[2015-09-07 09:01] #316 closed, assigned to mmoll

[2015-09-15 07:34] ares commented on #395
would it make sense to add
- [x] Global status and substatus descriptions (#515, originally #511)

maybe new section 4.9 Monitoring in 4. General Foreman

[2015-09-15 07:36] domcleal commented on #395
Sounds good!

[2015-09-25 13:08] domcleal opened #440 "Missing link to blog"
Since the last redesign, the website is missing a link to blog.theforeman.org or /blog.html.

[2015-10-01 20:04] aabognah opened #443 "the site is down!"
the site seems to be down

[2015-10-02 13:31] lzap commented on #443
Our provider has some issues yesterday, but they seem to be resolved now. Thanks for reporting.

[2015-10-02 13:31] #443 closed, assigned to nobody

[2015-10-12 10:02] Garvit244 commented on #440
there is already a link to blog.theforeman.org on documentation.html page.
http://theforeman.org/documentation.html

[2015-10-12 10:18] Garvit244 commented on #423
I want to pick this task to start with

[2015-10-12 10:29] domcleal commented on #440
Ah yes, it was just added in bb051756.  Thanks for checking.

[2015-10-12 10:29] #440 closed, assigned to nobody

[2015-11-02 15:22] GregSutcliffe opened #466 "Fix consistency between the pagination buttons and the return/search buttons on the blog"
It should just be a question of adding `btn btn-foreman-blue` to the pagination class, but _something_ is interfering with the background.

[2015-11-02 15:24] GregSutcliffe opened #467 "Clean up html leftovers in old blogs"
Some of the pandoc-converted blogs are a mess, we should clean them up a bit

[2015-11-04 07:58] domcleal commented on #289
Fixed in #468.

[2015-11-04 07:58] #289 closed, assigned to nobody

[2015-11-19 15:44] mmoll opened #484 "Jekyll 3 compatibility"
As jekyll 3 is approaching (see github/pages-gem#175) we should care about it. With the following diff, the site is building again, but there are some glitches, so this is just to raise awareness for now.

[code]

[2015-12-03 10:10] roidelapluie opened #490 "Add a warning about dropping Puppet 2.7.0 support for the installer in the 1.11 release"
The 1.10 notes should get a warning because it is the last release that will get puppet 2.7.0 support in the installer.

[2015-12-07 11:41] domcleal opened #494 "Foreman 1.11 manual"
Usual stuff:
- [x] Headline features
- [x] Headline feature screencasts
- [x] Itemised release notes (#544, @domcleal)
- [x] Foreman setting changes
- [x] Smart proxy setting changes
- [x] Installer options refresh
- [x] Contributors list
- [x] Translator contributors
- [x] Installer module release notes
- [x] API documentation per README

1.11 specifics:
- [x] No installer support for Puppet 2.7,

[2015-12-09 16:52] roidelapluie commented on #490
@domcleal I think this should be in the 1.10 manual as a warning

[2015-12-10 07:49] #490 closed, assigned to nobody

[2015-12-28 18:26] symgryph opened #503 "Docs for Discovery Plugin Smart Proxies section 2.2"
I did finally notice the 'optional' section after logging into IRC, but perhaps in section 2.1 you can say 'you can now discover hosts skip section 2.2 unless you have a locked down environment.'.

[2016-01-05 12:17] lzap commented on #503
What exactly is wrong here? Can you perhaps make a PR with the suggested change so we can discuss your proposal directly? Thanks!

[2016-01-05 14:02] symgryph commented on #503
I think it was more my following directions blindly and missing that it was  optional. It wasn't clear why I would need to install smart proxy plugin.

Sent from my iPad

[2016-01-06 16:30] lzap commented on #503
Ok then.

[2016-01-06 16:30] #503 closed, assigned to nobody

[2016-01-14 14:36] domcleal opened #509 "Settings list in section 3.5.2 is out of date for 1.10"
The settings list in section 3.5.2 is out of date as of Foreman 1.10 where new settings were added.

Settings also now have a friendly name which is displayed in the UI in preference to the underscored name used in the DB and settings.yaml.

[2016-01-14 14:39] domcleal opened #510 "#8979: Hammer (only) requires SCL packages to be available"
The upgrade section (3.6) for Foreman 1.10 and the RPM packages section (3.3.1) should state that EL installations with Hammer _only_ now also require SCL packages to be available.  Previously they only needed EPEL.

[2016-01-14 14:41] domcleal opened #511 "Global status and substatus descriptions"
A new section, perhaps 4.9 Monitoring in 4. General Foreman should be added to describe the global statuses and substatuses feature added in Foreman 1.10.

It should show that each host has multiple statuses shown on its own host page, and this is combined into a global status shown on the host list.  The APIs show this too, with individual statuses and a global status.

[2016-01-14 14:42] domcleal opened #512 "Host creation inherit from host group feature"
The host group inheritance features (#9591) during host creation added in Foreman 1.10 should be described in the manual, probably around section 4.4 (Provisioning).  It should explain how attributes are copied from a group on host creation and that they can be inherited, changed explicitly or unset explicitly.

[2016-01-14 14:43] domcleal commented on #395
Closing as 1.10 has been released.  The remaining unfinished items are filed as new tickets, linked above.

[2016-01-14 14:43] #395 closed, assigned to nobody

[2016-01-15 14:36] ares commented on #511
this should be added by https://github.com/theforeman/theforeman.org/pull/515, I didn't mention API there since I didn't find it anywhere in manual except a generic chapter

anyway if you want me to describe something in more details, please comment in the PR, I'm closing this

[2016-01-15 14:36] #511 closed, assigned to nobody

[2016-01-18 12:16] roidelapluie opened #518 "Blog and the Homepage"
There should at least be a link to the blog on the foreman home page. It would be beter to have links to the X(=3?) latest articles as well.

[2016-01-18 12:25] domcleal commented on #518
Latest articles could replace the contents of the latest_news include.

[2016-01-19 11:09] GregSutcliffe commented on #518
+1 for a blog link on the home page (as per my various other PRs which keep getting shot down). I'm not sure about the latest articles though, I think that might clutter the page. latest_news is only in the footer, which probably isn't too helpful, as our page is quite long - I don't know how many people scroll to the end vs using the links at the top.

[2016-01-25 10:40] Moncky opened #523 "Prefered Ruby version"
The contribute.md and handbook.md should indicate a ruby version for developers to use.

Not all gems are created equal and whilst AFAIK the latest version _should_ be ok, until we know it is we should have a note saying we know that all the gems compile fine against ruby version 2.x.x

A side note, as there doesn't appear to be a specified version I am not suggesting, to be clear, that we indicat

[2016-01-25 12:36] GregSutcliffe commented on #523
In general, you can see what versions we currently test at http://ci.theforeman.org/view/Foreman%20pipeline/job/test_develop/ - perhaps we should add a note about that? We could say these versions should work fine, older is not supported, and please raise issues if you're testing with a newer ruby?

[2016-01-25 14:31] Moncky commented on #523
Its probably just as good to link to that page with a brief explanation, that way you don't have to worry about keeping the page upto date.  I don't particuarly think there is an issue in pointing to a Jenkins page.  Even if a new developer is unfamiliar with Jenkins they will be at somepoint I guess.

I've added a note to the contribute.md, on reflection I'm not sure there is any benefit in repli

[2016-01-25 15:33] #523 closed, assigned to nobody

[2016-01-26 16:54] GregSutcliffe opened #527 "Merge contributing details into the handbook"
The handbook should be our go-to place for this kind of thing, having it in two places is confusing. We may need chapters and/or separate pages to keep it usable though.

[2016-02-05 14:27] agx commented on #494
A doc update for #13298 is at: https://github.com/theforeman/theforeman.org/pull/529 (for 0.10.x though)

[2016-02-09 08:47] dLobatog commented on #527
:+1:

[2016-02-09 08:47] dLobatog commented on #518
https://github.com/theforeman/theforeman.org/pull/513

[2016-02-10 10:22] domcleal opened #539 "Move websites to HTTPS"
This is a task list for things that need moving to HTTPS across the website and related bits.  In a week or so's time, we [should have HTTPS available](https://github.com/theforeman/foreman-infra/pull/211) for all sites hosted on the main web server (this website repo, apt and yum repos) but we need to update links and instructions to point to it.  Eventually we can redirect HTTP too.
- [x] Enable

[2016-02-10 13:23] ekohl commented on #539
Debian doesn't install apt-transport-https by default so that may be something to be aware of. https://qa.debian.org/popcon.php?package=apt says 6.84% has it installed.

[2016-02-10 13:26] domcleal commented on #539
Good to know.  I don't think there's a huge benefit to retrieving the packages themselves over HTTPS, so we don't have to do that.  The main thing is to get the initial GPG key over secure transport, which is downloaded directly from deb.theforeman.org for apt, and from a direct foreman-release.rpm download for yum.

[2016-02-10 13:43] ekohl commented on #539
I agree so I'd make them both available allowing users to choose, but wouldn't implement the Debian redirect.

[2016-02-12 10:22] #484 closed, assigned to nobody

[2016-02-12 20:30] mmoll opened #542 "gh-pages deprecates rdiscount markdown"
Per GitHub:

You are currently using the 'rdiscount' Markdown engine, which will not be supported on GitHub Pages after May 1st. At that time, your site will use 'kramdown' for markdown rendering instead. To suppress this warning, remove the 'markdown' setting in your site's '_config.yml' file and confirm your site renders as expected. For more information, see https://help.github.com/articles/upd

[2016-02-13 14:32] mmoll commented on #542
related issues to watch:
- [x] github/pages-gem#205
- [x] gettalong/kramdown#234
- [x] jneen/rouge/issues/187

IMHO these must get resolved first. However, if the github-pages gem drops rdiscount before that, it's easy for us to pull it in again, as we're not building on GitHub.

[2016-02-15 10:30] domcleal commented on #287
Our main websites, with the exception of Redmine all have AAAA records as of today.  Thanks for the report.

[2016-02-15 10:30] #287 closed, assigned to nobody

[2016-02-15 11:57] domcleal commented on #494
_includes/manuals/1.11 is now in place, we can start.

[2016-02-18 14:36] lzap commented on #539
For the record, I've moved my blog (hosted via github pages) to
CloudFlare CDN and I am very happy. They provide SSL for free and there
are various setups possible including SSL termination and HTTP or HTTPS
with invalid certificate as a followup.

https://lukas.zapletalovi.com/2015/12/served-by-cloudflare.html

It provides also great statistics and other optimizations.

##

Later,
 Lukas #lzap Za

[2016-02-19 16:17] gettalong commented on #542
gettalong/kramdown#234 is now fixed

[2016-02-19 16:52] mmoll commented on #542
@gettalong Danke!

[2016-03-01 10:55] domcleal opened #555 "Foreman 1.12 manual"
Usual stuff:
- [x] Headline features
- [ ] Headline feature screencasts
- [x] Itemised release notes
- [x] Foreman setting changes (#626)
- [x] Smart proxy setting changes
  - [x] #13737 - smart proxy ssl_disabled_ciphers configuration
  - [x] #13667 - all puppet config files and setting names changed (#624)
- [x] Installer options refresh
- [x] Contributors list
- [x] Translator contributors
- [x

[2016-03-01 12:58] tbrisker commented on #555
- [x]  [#13896](http://projects.theforeman.org/issues/13896) - Anonymous role was renamed to Default role

[2016-03-09 10:36] #509 closed, assigned to nobody

[2016-03-14 18:13] angystardust commented on #555
- [x] #3582 - Allow Subnets to have Parameters like Domains

[2016-03-15 08:45] #542 closed, assigned to nobody

[2016-03-15 08:54] domcleal opened #574 "Review GCE API key retrieval instructions"
Reported by @dLobatog at https://github.com/theforeman/foreman/pull/3320#issuecomment-196375072:

[2016-03-25 15:15] mmoll commented on #368
@johscheuer could you have a look on this?

[2016-04-01 09:43] domcleal opened #582 "Regenerate screenshots for 1.11 UI with PatternFly"
The screenshots on the homepage need to be retaken as the UI's changed to PatternFly, making them look dated compared to Foreman 1.11.

Lower priority, but the screenshots within the 1.11 manual should be retaken too.

[2016-04-01 09:44] domcleal commented on #494
Almost all complete, I refiled the screenshots item as #582.

[2016-04-01 09:44] #494 closed, assigned to nobody

[2016-04-04 07:30] johscheuer commented on #368
So there should be a ne section `OSes` in the [manual](http://theforeman.org/manuals/1.11/index.html)? I will have a look for CoreOS and submit a PR (hopefully till end of the week).

[2016-04-04 07:54] domcleal commented on #368
We've got a section now at http://theforeman.org/manuals/1.11/index.html#4.4.8OSSpecificNotes, so it would just need a CoreOS sub-section.  Thanks @johscheuer!

[2016-04-12 10:51] tbrisker commented on #555
- [x] Update smart proxy default ciphers and disabling ciphers option - https://github.com/theforeman/smart-proxy/pull/380#issuecomment-200331462

[2016-04-22 15:40] lsioctl opened #598 "invalid page and per_page parameter in API in foreman 1.11"
Hi,

I'm testing the API of my fresh foreman 1.11 installation.

The page parameter, for exemple there

http://theforeman.org/api/1.11/

does not work as documented at least for puppetclasses.

Documentation says it want a string

[code]

and foreman api wants a integer.

e.g  if I search asking no pagination

[code]

I've got :

[code]

page parameter is in fact the page name

per_page doesn't wo

[2016-04-26 07:14] domcleal commented on #598
Please file a bug against the API if `per_page` doesn't work on one of the APIs, I don't think this is a website or documentation issue.  See http://projects.theforeman.org/projects/foreman/issues/new.

[2016-04-26 07:14] #598 closed, assigned to nobody

[2016-05-25 07:29] domcleal commented on #555
Docs copied from 1.11 to 1.12, we can start this now.

[2016-06-01 08:42] domcleal commented on #539
Now enabled on all vhosts, we can work through the other tasks.

[2016-06-02 14:51] #240 closed, assigned to nobody

[2016-06-03 07:23] domcleal commented on #539
All GPG key downloads are switched to HTTPS, as is the website with a redirect. I'm going to close this and not move the package downloads to require or recommend HTTPS for the meantime.

[2016-06-03 07:23] #539 closed, assigned to nobody

[2016-06-23 19:19] selmanj opened #639 "'Get Started' link returns 'Not Found' at https://theforeman.org/"
Clicking 'Get Started' on the home page links to 'https://theforeman.org/manuals//quickstart_guide.html' which is not found.

[2016-06-23 20:53] #639 closed, assigned to nobody

[2016-06-23 20:54] GregSutcliffe commented on #639
Thanks for reporting @selmanj

[2016-06-26 04:31] aoyawale commented on #555
do you guys create the manuals in other languages? if so how can I contribute?

[2016-06-27 07:13] domcleal commented on #555
@chagara no, we don't, sorry!

[2016-06-28 09:49] #555 closed, assigned to nobody

[2016-06-29 07:18] domcleal opened #649 "Foreman 1.13 manual"
Usual stuff:
- [x] Headline features
- [ ] Headline feature screencasts
- [x] Itemised release notes
- [x] Foreman setting changes
- [x] Smart proxy setting changes
- [x] Installer options refresh
- [x] Contributors list
- [x] Translator contributors
- [x] Installer module release notes
- [x] API documentation per README

1.13 specifics:
- [x] remove EL6 from supported OSes (quickstart, packages s

[2016-06-29 13:13] #518 closed, assigned to nobody

[2016-07-07 08:22] ruhickey opened #659 "Dead links on homepage"
Links on the homepage bring you to a 404 page. Hammer API link and the more link for API. I presume it has to do with `{{page.version}}` in `_includes/features.html`. Instead of going to `https://theforeman.org/manuals/1.11/index.html#3.5.6CLI` they bring you too `https://theforeman.org/manuals//index.html#3.5.6CLI`.

[2016-07-07 08:29] #574 closed, assigned to nobody

[2016-07-07 09:47] #659 closed, assigned to nobody

[2016-08-20 20:25] paulfantom opened #684 "Fedora 24 yum -> dnf"
Since Fedora 24 uses `dnf` as package manager maybe it should be reflected in installation instructions. Those 2 commands, provided on [quickstart guide webpage](https://theforeman.org/manuals/1.12/quickstart_guide.html), could be changed to reflect that fact:

[code]

to:

[code]

[2016-08-24 10:12] #684 closed, assigned to nobody

[2016-09-14 13:21] gnurag opened #699 "npm install step is missing from the manual"
Under **Installing from source** section of the manual, npm install step is missing. This step is correctly mentioned in contributing.html page however.

[2016-09-19 12:29] #699 closed, assigned to nobody

[2016-09-23 10:02] domcleal opened #708 "Foreman 1.14 manual"
Usual stuff:
- [x] Headline features
- [x] Headline feature screencasts
- [x] Itemised release notes
- [x] Foreman setting changes
- [x] Smart proxy setting changes
- [x] Installer options refresh
- [x] Contributors list
- [x] Translator contributors
- [x] Installer module release notes
- [x] API documentation per README
- [x] List all new deprecation warnings
- [x] Update Puppet compatibility mat

[2016-11-01 16:05] lzap commented on #708
Added https://github.com/theforeman/theforeman.org/pull/721/files

[2016-11-15 18:56] elJoeyJojo opened #741 "Foreman Mirrors"
Hello,

I'm fairly new at Foreman and I want to be able to provision linux VMs using a local repo and I'm not sure how to do that. At the moment Foreman is working fine but it goes online to get the ISO/installation files and it takes a bit, it would probably make more sense to have the ISO/installation files locally and have the provisioning done locally. Not sure how can I do this, but I do know

[2016-11-15 19:00] mmoll commented on #741
You can create mirrors in any way, the OS provides, e.g. rsync yum/apt repos of CentOS/Debian or loopback-mount ISO-images of SLES/RHEL on a local webserver. Then point the URL of the Installation medium in Foreman to your mirror.

If it's "only" about a slow uplink, a caching proxy can help, personally I use apt-cacher-ng which was built for that special purpose.

Also, please don't use this issu

[2016-11-15 19:00] #741 closed, assigned to nobody

[2016-11-16 12:00] dLobatog commented on #741
If you want to make local mirrors of your OSs - http://katello.org/ is a wonderful option which does that by linking Pulp repos to Foreman provisioning

[2016-11-16 12:28] ares commented on #708
I added one more item to 1.14 specifics, Setting Auth tab was renamed to Authentication

[2016-11-25 13:20] domcleal commented on #708
1.14 manual now copied & can be edited.

[2016-12-08 11:11] domcleal opened #765 "Foreman 1.15 manual"
Usual stuff:
- [x] Headline features
- [ ] Headline feature screencasts
- [x] Itemised release notes
- [x] Foreman setting changes
- [x] Smart proxy setting changes
- [x] Installer options refresh
- [x] Contributors list
- [x] Translator contributors
- [ ] Installer module release notes
- [x] API documentation per README - https://github.com/theforeman/theforeman.org/pull/857
- [ ] List all new de

[2016-12-08 11:12] domcleal opened #766 "PXE loader option for unattended installation"
#12634 added a PXE loader option to host creation which changes the boot filename specified in the DHCP reservation, to be used to support different architectures and boot modes. This should be documented in the unattended installation section.

[2016-12-08 11:14] domcleal opened #767 "IPv6 addresses, subnets and addressing modes"
Section 4.4.7 (Networking) should document the IPv6 support, detailing that IPv6 subnets are different to IPv4, that interfaces can have IPv4 and/or v6 addresses, and the different addressing modes that Foreman's IPv6 subnets support.

[2016-12-08 11:14] domcleal commented on #649
Outstanding tasks filed as #766 and #767.

[2016-12-08 11:14] #649 closed, assigned to nobody

[2016-12-09 10:15] dLobatog commented on #708
Linked the LDAP & taxonomies checkbox with https://github.com/theforeman/theforeman.org/pull/771

[2016-12-12 09:19] lzap commented on #767
Any other ideas what needs to be documented in this regard @dLobatog @timogoebel ?

[2016-12-14 09:23] dLobatog commented on #767
I think it'd be good to explain how this relates to the PXE loader feature too, and explain that DNS works but DHCP does not

[2016-12-19 15:36] timogoebel commented on #767
This sounds pretty much complete to me. I think, we can assume that users have a general knowledge of what IPv6 is and how it works when they decide to use it.
The only thing special is the EUI-64 thing.

[2017-01-13 13:14] domcleal commented on #708
Tasks complete, please file anything else as a new PR or issue.

[2017-01-13 13:14] #708 closed, assigned to nobody

[2017-01-27 11:35] ekohl opened #806 "Documentation overview has no link to the handbook"
When I was looking for the developer documentation I couldn't find it. I expected it under https://theforeman.org/documentation.html but it didn't occur to me that it could be under community. Adding a link to the developer documentation would be useful.

[2017-01-30 09:11] ares commented on #806
+10

[2017-02-04 18:16] #806 closed, assigned to nobody

[2017-02-28 15:22] khorsmann opened #823 "CentOS 6 to CentOS 7 migration / Postgres.org Repository"
Hello,

i use foreman 1.12.4 on CentOS 6 with Postgresql 9.4 from PostgreSQL.org Repo. This is an dependency from puppetdb 2.x i used with puppet 3.x.

I try both ways to backup my Postgresql DB (pg_dump and foreman-rake).
Both failed if i want to restore it in my fresh CentOS 7 installation (same PostgreSQL Version).

Any hints to solve this?

[code]

[code]

[code]

[2017-02-28 15:26] domcleal commented on #823
This isn't a support forum, please use the IRC channel or mailing list per https://theforeman.org/support.html.

[2017-02-28 15:55] khorsmann commented on #823
Yes that sounds like an support issue. But IMHO it is more an documentation BUG - its not CLEAR to me how to RESTORE successful an Foreman-Installation PostgreSQL to MIGRATE. And i want to MIGRATE.
I used the IRC Channel and they told my to fill a bug.

[2017-02-28 16:56] mmoll commented on #823
If that's reproducible, the current docs are wrong and need to get fixed.

[2017-03-12 13:41] rabajaj0509 commented on #467
I wish to work on this bug :)

[2017-03-12 14:13] mmoll commented on #467
@rahulbajaj0509 just open a a pull request with the needed chnages 👍

[2017-03-19 16:50] rabajaj0509 commented on #466
I would like to work on this bug :)

[2017-03-24 16:44] #467 closed, assigned to nobody

[2017-04-12 14:59] dLobatog commented on #765
@domcleal Where do you get the combined committers + translators list?

[2017-04-13 07:12] domcleal commented on #765
Translaters are listed at the top of the PO files by year (i.e. only 2017 translators).

[2017-04-13 07:19] domcleal commented on #765
Unticked this again, I don't see that any of the new (1.17) deprecations have been documented.

[2017-04-17 09:18] dLobatog commented on #765
I thought this would prosper https://github.com/theforeman/foreman/pull/4219 and I wouldn't have to document these as deprecations. I don't think it's going to be a good idea to force people to update all their templates for such little benefit - I'll wait until before 1.15.0 final to document these (which are all of the new deprecations).

I'll  raise the topic again in https://groups.google.com/

[2017-04-17 14:49] dLobatog commented on #527
I think this one can safely be closed now

[2017-04-17 14:49] #527 closed, assigned to nobody

[2017-04-18 07:17] domcleal commented on #765
Host::Managed#to_ip_address and the seed audit_modified? method were also deprecated.

[2017-05-09 05:00] lachlansimpson opened #868 "Spelling error"
On the upgrade page of the nightly version, under Step 1 Backup

If Katello is running on a Virtual Machine, we reccomend to take a snapshot prior to upgrading. Otherwise, take a backup of the relevant databases by following the instructions here.

reccomend should be recommend

[2017-05-18 07:08] alexjfisher commented on #765
Release notes aren't rendering correctly on the website (indentation is wrong).
Looks fine it GitHub https://github.com/theforeman/theforeman.org/blob/gh-pages/_includes/manuals/1.15/1.2_release_notes.md but not [here](https://www.theforeman.org/manuals/1.15/index.html#Releasenotesfor1.15)

I'm guessing the raw markdown is missing some blank lines, (but have no real way of testing).

Update - Fixe

[2017-05-19 10:51] mmoll commented on #868
@datakid Could you open a pull request?

[2017-05-19 12:03] Andy7890 opened #874 "Upgrade Katello 2.4 to 3.3"
According to documentation upgrading Katello 2.4 to 3.3 should be possible but there is an error within the migration progress of foreman:
[code]

[2017-05-19 12:25] mmoll commented on #874
Comment: this issue would be about the docs, stating that such an update would be possible. @Andy7890 Could you point us to an URL on theforeman.org, where this is stated?

[2017-05-19 12:30] Andy7890 commented on #874
@mmoll It is stated here: https://theforeman.org/plugins/katello/3.3/upgrade/index.html

[2017-05-19 12:35] mmoll commented on #874
Thanks, @ehelms @jlsherrill I think that's not correct there...

[2017-05-22 01:37] lachlansimpson commented on #868
Done https://github.com/theforeman/theforeman.org/pull/875

[2017-05-22 10:10] mmoll commented on #868
thanks!

[2017-05-22 10:10] #868 closed, assigned to nobody

[2017-05-23 12:38] ehelms commented on #874
Sorry, I'm not following what the documentation issue is? This seems like an upgrade issue that should be filed in Redmine. The user is more likely to be successful upgrading 2.4 to 3.0 and then to 3.3.

[2017-05-23 12:47] mmoll commented on #874
@ehelms At least for Foreman, direct upgrades are not supported, so I thought, it's the same for Katello...

[2017-05-23 12:52] ehelms commented on #874
That is roughly our policy too, we've never stated it explicitly I don't think. I guess we say we only support N and N-1 like Foreman and thus we only test upgrades between those.

[2017-05-23 12:57] mmoll commented on #874
Independent of the underlying problem here, I'd suggest changing the docs, then.

[2017-05-23 13:42] ehelms commented on #874
Got a link to the Foreman docs so we can either point to them or mimic them?

[2017-05-23 13:50] mmoll commented on #874
At the upgrade section, e.g. https://theforeman.org/manuals/1.15/index.html#3.6Upgrade
"Before updating to 1.15, make sure you have successfully upgraded to 1.14 first."

[2017-07-03 17:10] dLobatog opened #903 "Foreman 1.16 manual"
Usual stuff:
- [x] Headline features https://github.com/theforeman/theforeman.org/pull/962
- [ ] Headline feature screencasts
- [x] Itemised release notes
- [x] Foreman setting changes
- [x] Smart proxy setting changes
- [x] Installer options refresh
- [x] Contributors list
- [x] Translator contributors
- [ ] Installer module release notes
- [x] API documentation per README
- [x] List all new depr

[2017-11-21 10:23] xprazak2 opened #974 "Foreman 1.17 manual"
Usual stuff:

* [x] Headline features
   ~~Headline feature screencasts~~
* [x] Itemised release notes
* [x] Foreman setting changes
* [ ] Smart proxy setting changes
* [ ] Installer options refresh
* [x] Contributors list
* [ ] Translator contributors
* [ ] Installer module release notes
* [x] API documentation per README
* [x] List all new deprecation warnings
* [x] Update Puppet compatibility m

[2017-12-13 18:44] cjacobs-at-comscore commented on #903
'make Puppet 4.x requirement for the installer more prominent' - specially for 'foreman-installer', otherwise other installation methods are just fine?

[2018-01-10 13:49] smashingchrische opened #999 "Ubuntu Configuration of the DHCP Plugin"
Hey,
I just found out that on my machine (Ubuntu 16.04.3 LTS) the dhcp_isc.yml should use:

:config: /etc/dhcp/dhcpd.conf
:leases: /var/lib/dhcp/dhcpd.leases

instead of the documented parameter setting:

:dhcp_config: /etc/dhcp/dhcpd.conf
:dhcp_leases: /var/lib/dhcp/dhcpd.leases

Foreman disabled the plugin, as it did not read  the leases file properly.
It was due to the dhcp_leases setting.
Afte

[2018-01-10 15:57] ekohl commented on #999
AFAIK we do configure this in the installer but you're right that the current manual instructions look outdated. A PR would be highly appreciated.

[2018-05-15 18:03] gpimentelv opened #1087 "Small Syntax error on Installation Quickstart"
On the Quickstart link

https://www.theforeman.org/manuals/1.17/quickstart_guide.html

Installation Options for:

- Debian 9 (Stretch)
- Ubuntu 16.04 (Xenial)

Enable the Foreman Repo, last line (4)

`wget -q https://deb.theforeman.org/pubkey.gpg -O- | apt-key add -`

**Only works if the second command on the pipe is issued with sudo**

`wget -q https://deb.theforeman.org/pubkey.gpg -O- | sudo apt

[2018-05-15 18:32] mmoll commented on #1087
basically that would the true for more or less all of the commands we're using there...

[2018-05-16 15:40] GregSutcliffe commented on #765
I have no idea why this is still open... closing :)

[2018-05-16 15:40] #765 closed, assigned to nobody

[2018-05-28 12:42] GregSutcliffe commented on #1087
Perhaps it would be easier to document that we expect it to be run as root (which can be done via `sudo -i`) ?

[2018-05-28 12:45] GregSutcliffe commented on #974
Can we close this now that 1.17 is out @xprazak2? Or is it still tracking important stuff?

[2018-05-29 05:59] xprazak2 commented on #974
I think we can close now.

[2018-05-29 05:59] #974 closed, assigned to nobody

[2018-06-03 07:27] ekohl commented on #1087
Sounds good, but often people miss something like that. The convention is to use `# command` in the shell but we should make sure that it can still be copy-pasted. Not every user is familiar with the convention.

[2018-06-05 11:38] GregSutcliffe commented on #1087
Fair enough. I can make the changes easily enough for the quickstart, should we do this for the Yum instructions too?

[2018-06-05 14:44] ekohl commented on #1087
That'd be good.

[2018-06-11 14:05] GregSutcliffe commented on #1087
Created #1108 to address this.

[2018-06-14 04:22] anomaly256 opened #1111 "Strange navigation behaviour in api documentation"
Hi, trying to read your api documentation and navigating the website appears to be a bit broken.  If I click for example Hosts, then the link for POST /api/hosts to try to see the params needed, the page just reloads in place with no further information being exposed because it's just a heading anchor to the spot on the page you're already at.  I have to click the easy to miss  '>>>' on the very f

[2018-06-15 13:27] lzap commented on #1111
Hey there, I am unable to reproduce, my page loads fine. E.g. from:

https://theforeman.org/api/1.17/index.html

when I click GET /audits I end up in:

https://theforeman.org/api/1.17/apidoc/v2/audits/index.html

loaded in iframe. This is old school HTML. If you want to improve, feel free - the docs are actually being generated from our codebase using https://github.com/Apipie/apipie-rails one of

[2018-06-15 13:30] lzap commented on #1111
Ok definitely issue for apipie project, feel free to open ticket there: https://github.com/Apipie/apipie-rails/issues

There are almost 150 issues however and only few developers, this needs more people.

[2018-06-15 13:30] #1111 closed, assigned to nobody

[2018-06-15 14:38] anomaly256 commented on #1111
Just to clarify, try to click on the 'Audits' heading first, then 'GET /audits' on the page that loads from there to repro.
The issue with this behaviour might be more apparent when sending a link to someone for a specific, larger class, like [https://theforeman.org/api/1.17/apidoc/v2/compute_resources.html](https://theforeman.org/api/1.17/apidoc/v2/compute_resources.html)
from there the links don

[2018-07-05 14:56] #1087 closed, assigned to nobody

[2018-07-12 13:07] tbrisker opened #1135 "libcurl-devel missing in install from source"

[2018-08-27 09:42] GregSutcliffe commented on #874
Can this be closed now  @ehelms @mmoll ?

[2018-08-27 09:45] GregSutcliffe commented on #823
Is this still relevant?

[2018-08-27 09:45] GregSutcliffe commented on #368
Looks like this should've been closed ages ago ;)

[2018-08-27 09:45] #368 closed, assigned to nobody

[2018-08-27 09:48] mmoll commented on #874
Ja.

[2018-08-27 09:48] #874 closed, assigned to nobody

[2018-08-27 11:24] khorsmann commented on #823
Can close I solved the problem by shell scripts

[2018-08-27 11:24] #823 closed, assigned to nobody

[2018-09-14 12:09] GregSutcliffe commented on #903
Pretty sure we can close this now that 1.16 is out (and out of support :P)

[2018-09-14 12:09] #903 closed, assigned to nobody

[2018-11-27 22:34] chris1984 commented on #1135
@tbrisker ill start working on a fix for this

[2018-11-28 08:36] #1135 closed, assigned to nobody

[2018-12-03 09:53] tbrisker opened #1252 "getting help manual section still points to dead mailing lists"
https://theforeman.org/manuals/1.20/index.html#Mailinglists

[2019-02-19 12:17] alexjfisher opened #1313 "Foreman 1.21 manual has lots of references to `locations/organizations` being optional."
Outside of the release notes, locations and organizations are still referred to as optional.

Some examples...

[2019-03-27 17:20] stefanlasiewski opened #1340 "Language used to describe VMware "Image provisioning without SSH" needs clarification"
I'm trying to understand how "Image provisioning without SSH" works with VMware and vSphere, and found the description confusing. For example:

* The instructions say "Enable user_data checking the proper checkbox in the compute resource definition", but the checkbox applies to the *image* used within the compute resource, not the compute resource itself.
* Instructions say "Associate a user_data

[2019-03-28 07:07] #1340 closed, assigned to nobody

[2019-04-04 17:26] #1252 closed, assigned to nobody

[2019-05-13 14:36] thinkitdata opened #1371 "Initial credentials don't display upon install completion Katello 3.11 / Foreman 1.21.3 / CentOS 7.1810"
I've performed 5 seperate installations and the initial login credentials have not displayed in any of them.  Fortunately they can be found in:
/etc/foreman-installer/scenarios.d/katello-answers.yaml
initial_admin_username
initial_admin_password

[2019-05-16 14:09] lzap commented on #1371
Hello, this is our documentation tracker. I believe you report a bug? Then use our redmine tracker, installer component perhaps. Or open discussion on discourse. THanks.

[2019-05-16 14:09] #1371 closed, assigned to nobody

[2019-05-16 14:18] ekohl commented on #1371
https://projects.theforeman.org/issues/26745 is fixed in nightly, still needs cherry picks.

[2019-07-31 13:12] tbrisker commented on #1313
I believe this has been resolved by https://github.com/theforeman/theforeman.org/commit/13d31b89e45992ad4651619443721dccbad7eb48

[2019-07-31 13:12] #1313 closed, assigned to nobody

[2020-04-03 08:40] bbaer89 opened #1560 "Compute Ressource GCE with Proxy"
Hi,
is it possible to implement an proxy support to the gce ressource like the aws?

I'm not a programmer but testet to join the dropdown option in the gce template but without any funktion.

[2020-04-03 09:15] bbaer89 commented on #1560
put it into community forum.

[2020-04-03 09:15] #1560 closed, assigned to nobody

[2020-06-22 12:23] m-bucher opened #1621 "Contribute: create test database"
https://github.com/theforeman/theforeman.org/blob/9137547dd1b8deffa83508f1f6099d4c12955d95/contribute.md#setup-test-environment

Should this not rather be `bundle exec bin/rake db:setup` to create the database?

Furthermore, this describes the creation of the test-database, which IMHO would require to append a `RAILS_ENV=test` to the command.

[2020-06-22 13:35] m-bucher commented on #1621
Even better would probably be to use `bundle exec rake db:create db:migrate RAILS_ENV=test`.
Otherwise, it will not be correctly detected by this code in foreman: https://github.com/theforeman/foreman/blob/7b333c0082231c950e61b0dbc65375cf438e73b3/lib/foreman.rb#L23

[2020-07-31 11:46] markgraf opened #1655 "Broken links on https://docs.theforeman.org/web/"
Just wanted to let you know that all the links to guides on [https://docs.theforeman.org/web/](https://docs.theforeman.org/web/) are broken.

E.g https://docs.theforeman.org/web/master/doc-Planning_Guide/index-foreman.html tells me:

[2020-08-10 11:06] lzap commented on #1655
Hello, thanks. Is this still an issue? We have completely dropped the `/web` prefix now, everything should be cleaner-looking.

[2020-08-10 11:06] #1655 closed, assigned to nobody

[2020-08-10 16:19] markgraf commented on #1655
All good!  Thanks for letting me know!

[2020-09-30 14:50] BloodyIron opened #1687 "Dark Theme please?"
Any chance we can get the documentation to use a Dark Theme by default, or have the option to turn it on? This can drastically improve legibility and ease of reading/consumption for us IT folk.

[2020-10-12 06:44] lzap commented on #1687
Hello, we are unlikely be implementing this by ourselves, however feel free to contribute some javascript switcher. All the code is in this repo.

[2020-10-26 06:12] MrMarlin opened #1711 "Images of Katello v3.17RC Documentation are broken"
Images of the Katello Plugin Documentation v3.17RC are broken and therefore not displayed.  ![broken images screenshot](https://i.imgur.com/c0YY4qw.png)

[2020-10-26 09:35] ekohl commented on #1711
@chris1984 could you take a look?

[2020-10-26 13:28] chris1984 commented on #1711
@ekohl sure will start looking

[2020-10-27 10:42] #1711 closed, assigned to nobody

[2021-01-25 16:14] maximiliankolb opened #1766 "git warning because of a file"
Hi all!
I tried cloning the repository but had an issue with a file:

[code]

`git status` always reports a modified file:
[code]

I was not even able to create an adaquate PR; so it would be fantastic if someone else could investigate this issue.

Thanks and stay safe.
Maximilian.

[2021-01-25 17:02] ekohl commented on #1766
Are you by any chance on Windows?

Edit: @evgeni mind taking a look since they're your slides?

[2021-01-25 17:23] evgeni commented on #1766
Heh, do we have two versions with different capitalization?

[2021-01-25 17:26] evgeni commented on #1766
And actually different content, cool... Me--

[2021-01-25 17:28] maximiliankolb commented on #1766
I'm running macOS, but I am unsure if my file system can handle such oddities. The question isn't just if it's allowed/works; but whether it should be used this way.

[2021-01-26 06:16] evgeni commented on #1766
Apple FS is also not case sensitive by default.

I'll rename the file later.

[2021-01-27 10:05] lzap commented on #1766
The worst file system on Earth. They say the new one is much better but I don't believe them.

[2021-01-27 13:44] #1766 closed, assigned to nobody

[2021-01-27 15:06] maximiliankolb commented on #1766
Thanks everyone! 👍

[2021-02-09 15:45] lzap commented on #1766
Was just citing Linus: https://en.wikipedia.org/wiki/HFS_Plus#Criticisms :-)

[2021-04-06 19:46] mzima opened #1803 "Quickstart section does not show CentOS/RHEL 8"
The "2. Quickstart" section does neither show CentOS 8 or RHEL 8 as supported platforms

[2021-04-06 19:56] mzima commented on #1803
PR https://github.com/theforeman/theforeman.org/pull/1804 contain a fix for nightly, 2.3 and 2.4

[2021-04-07 13:12] mzima commented on #1803
Fixed in https://github.com/theforeman/theforeman.org/pull/1804

[2021-04-07 13:12] #1803 closed, assigned to nobody

[2021-08-01 16:21] isms-core-project opened #1868 "https://yum.theforeman.org/ has issues: Error 503 Backend is unhealthy"
Hi Folks,
First let me thank you for the hard work.
I was about to setup Foreman with Katello but there seems to be an issue with the repo URL.
![image](https://user-images.githubusercontent.com/37223044/127778101-4b52db1b-ccfd-4844-98b0-67e95ba69f6b.png)
I wish you a great Sunday.
BR
GG

[2021-08-01 17:04] ekohl commented on #1868
Thanks for the report. I'm not sure what happened but the backed server was no longer responding. I rebooted and it appears to work again. Does it also work for you?

[2021-08-01 17:10] isms-core-project commented on #1868
Hi ekohl,
TY for the message and server reboot.
Repos and Tutorial Pages work again.
Just perfect, I can continue my Foreman/Ketello installation.
I wish you a great Sunday.
BR
GG

[2021-08-01 17:10] #1868 closed, assigned to nobody

[2022-02-23 09:43] maximiliankolb opened #1961 "Docs for Katello 4.1/4.3 are missing"
Hi everyone.
I was trying to view Katello documentation on SCA for version 4.1 and 4.3:

<img width="768" alt="Screenshot 2022-02-23 at 10 41 05" src="https://user-images.githubusercontent.com/12595287/155294403-f62e12c7-4646-4613-afb4-2f6a8e233ef3.png">

Is this intentional? Is the Katello documentation in the Foreman manual deprecated?

[2022-02-23 10:34] ekohl commented on #1961
Yes, since Katello 4.0 the docs.theforeman.org site is the official documentation. I've been trying to make this clear by repeating it multiple times but clearly this has failed. @evgeni also raised it recently that that particular index site you opened needs to show this.

[2022-02-23 10:52] maximiliankolb commented on #1961
That's actually great to hear. One suggestion: drop the "nightly" for Katello then, and instead refer users to docs.theforeman.org.

To me, _nightly_ suggests that it's up to date.

[2022-02-23 10:59] ekohl commented on #1961
Last item on https://community.theforeman.org/t/release-team-meeting-agenda-2022-02-21/27429/2. I'm not sure we actually have someone assigned to it now so feel free to come with a proposal.

[2022-03-02 13:30] lzap commented on #1961
A landing page on the old site with link to new location would help I suppose.

[2022-04-06 10:17] dreua opened #1976 "Documentation confuses minor- and patch-version"
In [Upgrading and Updating Foreman](https://docs.theforeman.org/3.2/Upgrading_and_Updating/index-katello.html#_updating_foremanserver_and_content_hosts) it says:

According to [Semantic Versioning](https://semver.org/#summary) this is example is exactly not what a minor version is. A minor version would be 3.1.x to 3.2.x, the example "3.2.0 to 3.2.1" describes a change in patch version. This may b

[2022-05-03 12:06] Obie38 opened #1979 "Rocky Linux client operating system with status "unknown 8.5""
Hi,

I have some strange behavior with rocky linux clients. I get status "unknown 8.5" in "operating system" column for Rocky Linux hosts.
Rocky Linux client seems to be not recognized by foreman 2.5.2.19‑1. I get "unknown 8.5" in "operating system" column (hosts view). When I check the facts, distribution.name is right ("Rocky Linux") on the server side and on the client side.

Anyone has an idea

[2022-05-03 13:51] melcorr commented on #1979
Hey @Obie38

This issues page is for issues related to our website. Would you mind please posting over here: https://community.theforeman.org/ - this is where we normally gather to discuss and troubleshoot together.

[2022-05-03 14:06] Obie38 commented on #1979
Yes I will, sorry

[2022-05-03 14:08] #1979 closed, assigned to nobody